/* @import url("htpps://fonts.googleapis.com/css2?family=Open+Sans:wght@400&display=swap"); */

*{
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}
html,body{
    height: 100%;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: "open Sans", sans-serif;
    background: #040404;
}
.log-in{
    width: 350px;
    background:transparnt;
    margin: 80px auto;
    padding: 30px 20px;
}
.log-in button{
    background: linear-gradient(112.82deg, #ff4754 19.9%,
    #ff4754 102.22%);
    border: none;
    padding: 10px 20px;
    font-family: monospace;
    font-weight: bold;
    color: white;
    border-radius: 9px;
    cursor: pointer;
    -webkit-transition: .4s ease;
    transition: .4s ease; 
}
.log-in button:hover{
    transform: translateY(-5px);
}
label{
    position: relative;
}
label input{
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
    color: #f9f9f9;
    background: transparent;

    padding: 1rem 1.2rem;
    min-width: 24rem;

    border-radius: 0.2rem;
    border: 2px solid #7a7a7a56;

    transition: border-color 0.2s;

}
label input:focus{
    border-color: #ff4754;
}
label p {
    color: #f9f9f9;
    font-size: 1rem;
    user-select: none;

    position: relative;
    top: 50%;
    transform:translateY(-50%);

    margin-left: 0.8rem;
    padding: 0 0.4rem;

    background:black;

    transition: top 0.2s, font-size 0.2s, color 0.2s;
}
label input:focus + p, 
label input:not(:placeholder-shown) +p{
top: 0;
font-size: 0.9rem;
color: #ff4754;
}
label input:not(:focus) + p{
    color: white;
} 

